*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#f5f5f5;
  display:flex;
  justify-content:center;
  padding-top:50px;
}

.container{
  width:550px;
}

h1{
  text-align:center;
  font-size:90px;
  color:#980606;
  font-weight:200;
  margin-bottom:20px;
}

.todo-box{
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
  border-radius:8px;
  overflow:hidden;
}

.input-section{
  display:flex;
  align-items:center;
  border-bottom:1px solid #ddd;
}

.input-section input{
  width:100%;
  padding:20px;
  font-size:25px;
  border:none;
  outline:none;
  color:#666;
}

.input-section input::placeholder{
  color:#c4c4c4;
  font-style:italic;
}

#selectAll{
  border:none;
  background:transparent;
  font-size:30px;
  cursor:pointer;
  color:#777;
  margin-left:15px;
}

#todoList{
  list-style:none;
}

#todoList li{
  display:flex;
  align-items:center;
  gap:15px;
  padding:18px 20px;
  border-bottom:1px solid #eee;
  font-size:20px;
  color:#666;
}

#todoList li:hover{
  background:#fafafa;
}

#todoList li.completed{
  text-decoration:line-through;
  color:#bbb;
}

.checkbox{
  width:28px;
  height:28px;
  cursor:pointer;
}

li span{
  flex:1;
  margin-left:10px;
  word-break:break-word;
}

li input[type="text"]{
  flex:1;
  padding:8px 10px;
  font-size:18px;
  border:1px solid #ddd;
  border-radius:5px;
  outline:none;
}

.deleteBtn{
  background:none;
  border:none;
  color:red;
  font-size:22px;
  cursor:pointer;
  margin-left:auto;
  transition:0.2s;
}

.deleteBtn:hover{
  color:darkred;
  transform:scale(1.2);
}

.bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  font-size:18px;
  color:#666;
}

.filters{
  display:flex;
  gap:10px;
}

.filters button,
#clearBtn{
  border:none;
  background:none;
  cursor:pointer;
  font-size:16px;
  color:#666;
  padding:5px 10px;
  border-radius:5px;
  transition:0.2s;
}

.filters button:hover,
#clearBtn:hover{
  background:#f2f2f2;
}

.filters .active{
  border:1px solid #d6a5a5;
  border-radius:5px;
}
